body{
    color: #3F5D45;
    font-family: 微軟正黑體 , PingFang TC;
    line-height: 20px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    margin: 0 auto;
    max-width: 940px;
}
a{
    text-decoration: none;
    display: block;
    color: #3F5D45;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    margin-top: 30px;
    .logo{
        width: 25%;
    }
    .ham{
        display: none;
    }
   
    .switch{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.ham_content{
    display: none;
}
.switch{
    .wrap_page{
        width: 215px;
        display: flex;
        justify-content: space-around;
        a:hover{
            background: #3F5D45;
            color: white
        }
    }
    .shopping_cart img{
        margin-left: 30px;
        width: 24px;
        height: 24px;
    }
}
.footer{
    .mail{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #3F5D45;
        padding: 30px 122px;
        .icon{
            display: flex; 
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                box-sizing: border-box;
                margin-right: 20px;
            }
            h4{
                color: #EAF0ED;
                font-size: 24px;
                line-height: 29px;
                width: 300px;
            }
        }    
    }
    .input{
        position: relative;
        display: inline-block;
        /* width: 380px; */
        width: 40%;
        .mailicon{
            position: absolute;
            left: 16px;
            top: 14px;
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/mail-24px.png) ;
            /* background-position:20% 80%; */
            width: 24px;
            height: 24px;
        }
        .inmail{
            text-indent: 40px;
            width: 80%;
            height: 56px;
            box-sizing: border-box;
            border: none;
        }
        .next{
            position: absolute;
            background: #FFE180;
            border: solid 0px white;
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/arrow_forward-24px.png) ;
            background-repeat: no-repeat;
            background-position:50% 50%;
            width: 20%;
            height: 56px;
          }
    }
    .info{
        background: #EAF0ED;
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px;
        .connect .icon{
            width: 171px;
            height: 26.6px;
        }
        .connect p{
            margin-top: 115.5px;
            line-height: 24px;
        }
        .icons{
            display: flex;
            margin-top: 30px;
        }
        .connect .icons img{
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            margin-right: 8px;
        }
    }
    .slogan{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        h4{
            writing-mode: vertical-rl;
            font-size: 26px;
            letter-spacing: 3px;
            line-height: 40px;
            color: #3F5D45;
        }
    }
    .mail .input{
        position: relative;
        display: inline-block;
    }
}



@media(max-width: 768px){
    .container{
        max-width: 600px;
    }
    .header{
        margin: 0;
        padding: 16px 0px;

    }   
    .content{
        flex-direction: column;
        align-items: center;
        .kindlist{
            width: 100%;
            margin-bottom: 33px;
        }
    }
 
    .productlist{
        width: 90%;
        .name{
            padding: 14px 0px;
    
        }
    }
    .footer{
        max-width: 768px;
        .mail{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px 52px;
        }
        .input{
            max-width: 768px;
            width: 80%;
        }
        .mail .icon{
            margin-bottom: 33px;
            width: 80%;
        }
    }    
}
@media(max-width: 375px){
    .container{
        max-width: 375px;
        margin: 0 auto;
        .ham_open{
            width: 0;
        }
        .ham_content{
            display: none;
            width: 100%;
            // width: 45%;
            text-align: center;
            a:hover{
                background: #EAF0ED;

            }

        }

  

    }

    .header{

        margin-bottom: 0;

        margin-top: 0;

        padding: 16px 0px;

        .wrap_page{

            display: none;

        }
       
        .shopping_cart img{
            height: 18px;
            width: 18px; 
            margin-left: 0px;
        }
    }   
    .content{
        flex-direction: column;
        align-items: center;
    }
    .container .header{
        justify-content: space-around;
        align-items: center;
        .banner{
            width: 114px;
        }
        .ham{
            display: block;
            img{
                width: 18px;
                height: 22px;  
            }
            
        }
    
    }
 
   
    .footer{
        max-width: 375px;
        .mail{
            flex-direction: column;
            padding: 30px 0px;
        }
        .input{
            max-width: 300px;
            width: 80%;
            padding: 30px 52px;
    
        }
        .mail .icon{
            margin-bottom: 33px;
            width: 80%;
        }
        .slogan{
        display: none;
        }
    }
}