$dark_green: #3F5D45;
$light_green: #EAF0ED;

.mb-30{
    margin-bottom: 30px;
}
.mb-8{
    margin-bottom: 8px;
}

.mb-16{
    margin-bottom: 16px;
}
.fz-36{
    font-size: 36px;
}
.fz-24{
    font-size: 24px;
}
.fz-20{
    font-size: 20px;
}
.fw-b{
    font-weight: bold;
}