@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.fz-36 {
  font-size: 36px;
}

.fz-24 {
  font-size: 24px;
}

.fz-20 {
  font-size: 20px;
}

.fw-b {
  font-weight: bold;
}

body {
  color: #3F5D45;
  font-family: 微軟正黑體 , PingFang TC;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

a {
  text-decoration: none;
  display: block;
  color: #3F5D45;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
  margin-top: 30px;
}

.header .logo {
  width: 25%;
}

.header .ham {
  display: none;
}

.header .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ham_content {
  display: none;
}

.switch .wrap_page {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.switch .shopping_cart img {
  margin-left: 30px;
  width: 24px;
  height: 24px;
}

.footer .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3F5D45;
  padding: 30px 122px;
}

.footer .mail .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .mail .icon img {
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 20px;
}

.footer .mail .icon h4 {
  color: #EAF0ED;
  font-size: 24px;
  line-height: 29px;
  width: 300px;
}

.footer .input {
  position: relative;
  display: inline-block;
  /* width: 380px; */
  width: 40%;
}

.footer .input .mailicon {
  position: absolute;
  left: 16px;
  top: 14px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/mail-24px.png);
  /* background-position:20% 80%; */
  width: 24px;
  height: 24px;
}

.footer .input .inmail {
  text-indent: 40px;
  width: 80%;
  height: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.footer .input .next {
  position: absolute;
  background: #FFE180;
  border: solid 0px white;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/arrow_forward-24px.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 20%;
  height: 56px;
}

.footer .info {
  background: #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .info .connect .icon {
  width: 171px;
  height: 26.6px;
}

.footer .info .connect p {
  margin-top: 115.5px;
  line-height: 24px;
}

.footer .info .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.footer .info .connect .icons img {
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 8px;
}

.footer .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .slogan h4 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 26px;
  letter-spacing: 3px;
  line-height: 40px;
  color: #3F5D45;
}

.footer .mail .input {
  position: relative;
  display: inline-block;
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
  .header {
    margin: 0;
    padding: 16px 0px;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .kindlist {
    width: 100%;
    margin-bottom: 33px;
  }
  .productlist {
    width: 90%;
  }
  .productlist .name {
    padding: 14px 0px;
  }
  .footer {
    max-width: 768px;
  }
  .footer .mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 52px;
  }
  .footer .input {
    max-width: 768px;
    width: 80%;
  }
  .footer .mail .icon {
    margin-bottom: 33px;
    width: 80%;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
  .container .ham_open {
    width: 0;
  }
  .container .ham_content {
    display: none;
    width: 100%;
    text-align: center;
  }
  .container .ham_content a:hover {
    background: #EAF0ED;
  }
  .header {
    margin-bottom: 0;
    margin-top: 0;
    padding: 16px 0px;
  }
  .header .wrap_page {
    display: none;
  }
  .header .shopping_cart img {
    height: 18px;
    width: 18px;
    margin-left: 0px;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .header .banner {
    width: 114px;
  }
  .container .header .ham {
    display: block;
  }
  .container .header .ham img {
    width: 18px;
    height: 22px;
  }
  .footer {
    max-width: 375px;
  }
  .footer .mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0px;
  }
  .footer .input {
    max-width: 300px;
    width: 80%;
    padding: 30px 52px;
  }
  .footer .mail .icon {
    margin-bottom: 33px;
    width: 80%;
  }
  .footer .slogan {
    display: none;
  }
}

.banner img {
  margin-bottom: 60px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.content .kindlist {
  width: 30%;
}

.content .kindlist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .kindlist ul .kind2 {
  background: #EAF0ED;
}

.content .kindlist ul a {
  padding: 16px;
  border: solid 1px #EAF0ED;
}

.content .kindlist ul a:hover {
  background: #3f5d45;
  color: #EAF0ED;
  border: solid 1px #3f5d45;
}

.content .kindlist ul li, .content .kindlist .classify {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  font-family: PingFang TC;
}

.content .kindlist .classify {
  background: #3F5D45;
  color: #EAF0ED;
  display: block;
  padding: 16px;
}

.content .productlist {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .productlist li {
  width: 45%;
}

.content .productlist .picture {
  position: relative;
  /* width: 35%; */
}

.content .productlist .picture .intro h2 {
  position: absolute;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px;
  left: 20px;
  font-size: 16px;
  background: #3F5D45;
  color: #EAF0ED;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .productlist .picture .intro .favorite {
  position: absolute;
  right: 18.35px;
  top: 20px;
}

.content .productlist .namemoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #EAF0ED;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .productlist .namemoney .name {
  border-right: solid 1px #EAF0ED;
  padding: 14px 0px;
  line-height: 20px;
  text-align: center;
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .productlist .namemoney .money {
  text-align: center;
}

.content .productlist a {
  padding: 16px;
  text-align: center;
  background: #EAF0ED;
  line-height: 20px;
}

.content .productlist a:hover {
  padding: 16px;
  text-align: center;
  background: #3f5d45;
  color: #EAF0ED;
  line-height: 20px;
}

.changepage {
  margin-bottom: 30px;
}

.changepage .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.changepage .page .number:hover {
  background: #3f5d45;
  color: #EAF0ED;
}

.changepage .page .icon:hover {
  background: #EAF0ED;
}

.changepage .number {
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border: solid 1px #EAF0ED;
  font-size: 20px;
  line-height: 20px;
  width: 60px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.changepage img {
  padding: 17px;
  width: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px #EAF0ED;
  display: block;
}

@media (max-width: 768px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .kindlist {
    width: 100%;
    margin-bottom: 33px;
  }
  .content .productlist {
    width: 90%;
  }
  .content .productlist .name {
    padding: 14px 0px;
  }
}

@media (max-width: 375px) {
  .container .banner img {
    margin-bottom: 0px;
  }
  .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .content .kindlist {
    width: 100%;
    margin-bottom: 30px;
  }
  .container .content .productlist {
    width: 80%;
  }
  .container .content .productlist li {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .container .content .productlist .name {
    padding: 14px 0px;
  }
  .container .content .changepage .page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content_receipt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_receipt .input {
  width: 50%;
  margin-right: 20px;
}

.content_receipt .input .info {
  background: #3F5D45;
  color: #EAF0ED;
  padding: 30px 40px;
}

.content_receipt .input .info .title {
  position: relative;
}

.content_receipt .input .info .title h3 {
  position: absolute;
}

.content_receipt .input .info .title .icon_ab {
  position: absolute;
}

.content_receipt .input .info .title .icon_line {
  color: #EAF0ED;
  border: solid 1px #EAF0ED;
  position: absolute;
}

.content_receipt .input .info .title .line_right {
  width: 50px;
  right: 20px;
}

.content_receipt .input .info .title .line_left {
  width: 45px;
  right: 85px;
}

.content_receipt .input .info .title .icon_left {
  right: 128px;
}

.content_receipt .input .info .title .icon_center {
  right: 64px;
}

.content_receipt .input .info .title .icon_right {
  right: 0px;
}

.content_receipt .input .info .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_receipt .input .info .select h3 {
  padding-top: 14px;
  padding-bottom: 14px;
  border: solid 1px #EAF0ED;
  width: 50%;
  text-align: center;
}

.content_receipt .input .info .select .white {
  background: #EAF0ED;
  color: #3F5D45;
}

.content_receipt .input .info .input_info input {
  width: 100%;
  padding: 17px 0px;
  text-indent: 20px;
}

.content_receipt .input .check input {
  width: 100%;
  background: #FFE180;
  padding: 19px 0px 16px 0px;
  color: #3F5D45;
  font-size: 24px;
  border: none;
}

.content_receipt .order_info {
  width: 40%;
}

.content_receipt .order_info .order_simple {
  margin-bottom: 20px;
}

.content_receipt .order_info .order_simple h3 {
  padding: 16px 0px;
  width: 100%;
  background: #EAF0ED;
  text-align: center;
}

.content_receipt .order_info .order_simple .money_amount {
  border: solid 1px #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_receipt .order_info .order_list {
  border: solid 1px #EAF0ED;
  margin-bottom: 60px;
}

.content_receipt .order_info .order_list h3 {
  padding: 16px 0px;
  width: 100%;
  background: #EAF0ED;
  text-align: center;
}

.content_receipt .order_info .order_list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_receipt .order_info .order_list ul li .photo {
  margin-bottom: 16px;
}

.content_receipt .order_info .order_list ul li .photo img {
  width: 120px;
  height: 80px;
}

.content_receipt .order_info .order_list ul li .title {
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .content_receipt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content_receipt .input {
    width: 90%;
    margin-bottom: 0px;
  }
  .content_receipt .order_info {
    width: 90%;
  }
  .content_receipt .order_info .order_simple {
    margin-bottom: 0px;
  }
  .content_receipt .order_info .order_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 16px;
  }
  .content_receipt ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content_receipt ul li {
    width: 45%;
  }
}

@media (max-width: 375px) {
  .order_info {
    display: none;
  }
  .content_receipt .input .info {
    padding: 30px;
  }
  .content_receipt .input {
    width: 100%;
  }
}
/*# sourceMappingURL=all.css.map */